aiofiles==23.2.1
altair==5.1.0
annotated-types==0.6.0
anyio==3.7.1
appnope==0.1.3
asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
comm==0.1.4
contourpy==1.1.0
cycler==0.11.0
debugpy==1.6.7.post1
decorator==5.1.1
dill==0.3.7
exceptiongroup==1.2.0
executing==1.2.0
Faker==19.10.0
fastapi==0.104.1
fonttools==4.42.1
h11==0.14.0
holidays==0.33
html5tagger==1.3.0
httptools==0.6.0
idna==3.4
importlib-metadata==6.8.0
importlib-resources==6.0.1
iniconfig==2.0.0
ipykernel==6.25.1
ipython==8.14.0
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter_client==8.3.0
jupyter_core==5.3.1
kafka==1.3.5
kafka-python==2.0.2
kiwisolver==1.4.5
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
multidict==6.0.4
mysql-connector-python==8.2.0
nest-asyncio==1.5.7
numpy==1.25.2
packaging==23.1
panda==0.3.1
pandas==2.1.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
pluggy==1.3.0
prompt-toolkit==3.0.39
protobuf==4.21.12
psutil==5.9.5
psycopg2==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.5.1
pydantic_core==2.14.3
Pygments==2.16.1
pyparsing==3.0.9
pytest==7.4.3
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.1
referencing==0.30.2
requests==2.31.0
rpds-py==0.10.0
sanic==23.6.0
Sanic-Cors==2.2.0
sanic-routing==23.6.0
scikit-learn==1.3.0
scipy==1.11.2
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
sseclient==0.0.27
stack-data==0.6.2
starlette==0.27.0
threadpoolctl==3.2.0
tomli==2.0.1
toolz==0.12.0
tornado==6.3.3
tracerite==1.1.0
traitlets==5.9.0
typing_extensions==4.8.0
tzdata==2023.3
ujson==5.8.0
urllib3==2.0.5
uvicorn==0.24.0.post1
uvloop==0.17.0
watchfiles==0.21.0
wcwidth==0.2.6
websockets==11.0.3
zipp==3.16.2
